[Unit]
After=network.target traefik.service

[Service]
Type=simple
ExecStart=/usr/bin/traefik-config
WorkingDirectory=/etc/traefik-config

[Install]
WantedBy=default.target
