name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*.*.*"
  pull_request:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  GO_VERSION: '>=1.24.0'
  TASK_VERSION: 3.x

jobs:
  build:
    name: Build binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - amd64
          - arm64
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: arduino/setup-task@v2
        with:
          version: ${{ env.TASK_VERSION }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: task test

      - name: Build binary
        run: task build OUTPUT_FILE_SUFFIX="-${{ github.ref_name }}-${{ matrix.arch }}"
        env:
          GOOS: linux
          GOARCH: ${{ matrix.arch }}

      - uses: actions/upload-artifact@v4
        with:
          name: binary-${{ matrix.arch }}
          path: dist/*

  package:
    name: Package
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      matrix:
        target:
          - debian
        arch:
          - amd64
          - arm64
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: arduino/setup-task@v2
        with:
          version: ${{ env.TASK_VERSION }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/download-artifact@v5
        with:
          name: binary-${{ matrix.arch }}
          path: pkg/debian/usr/bin

      - name: Package
        run: task pkg:${{ matrix.target }}
        env:
          GOOS: linux
          GOARCH: ${{ matrix.arch }}

      - uses: actions/upload-artifact@v4
        with:
          name: deb-${{ matrix.arch }}
          path: pkg/debian/*.deb

  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs:
      - package
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v5
        id: artifacts
        with:
          merge-multiple: true
          path: artifacts

      - uses: sean0x42/markdown-extract@v2
        id: extract-changelog
        with:
          file: CHANGELOG.md
          pattern: ${{ github.ref }}
          no-print-matched-heading: true

      - uses: softprops/action-gh-release@v2
        with:
          prerelease: false
          body: |
            ## Changelog
            ${{ steps.extract-changelog.outputs.markdown }}
          files: |
            ${{ steps.artifacts.outputs.download-path }}/*
